In [112]:
import pandas as pd
import sklearn

In [113]:
df = pd.read_csv("D:\\heart.csv")
print(df)

     ï»¿age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0        63    1   3       145   233    1        0      150      0      2.3
1        37    1   2       130   250    0        1      187      0      3.5
2        41    0   1       130   204    0        0      172      0      1.4
3        56    1   1       120   236    0        1      178      0      0.8
4        57    0   0       120   354    0        1      163      1      0.6
..      ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298      57    0   0       140   241    0        1      123      1      0.2
299      45    1   3       110   264    0        1      132      0      1.2
300      68    1   0       144   193    1        1      141      0      3.4
301      57    1   0       130   131    0        1      115      1      1.2
302      57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
0        0   0     1       1
1        0   0     2       1
2        2   0     2       1
3        2   0     2       1
4        2   0     2       1
..     ...  ..   ...     ...
298      1   0     3       0
299      1   0     3       0
300      1   2     3       0
301      1   1     3       0
302      1   1     2       0

[303 rows x 14 columns]

In [114]:
print(df.columns)

Index(['ï»¿age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [115]:
df.columns =['age','sex','cp','bp','cholosterol','fbs','restecg','thalalesmia','exang','oldpeak','slope','ca','thal','target']

In [116]:
print(df)

     age  sex  cp   bp  cholosterol  fbs  restecg  thalalesmia  exang  \
0     63    1   3  145          233    1        0          150      0
1     37    1   2  130          250    0        1          187      0
2     41    0   1  130          204    0        0          172      0
3     56    1   1  120          236    0        1          178      0
4     57    0   0  120          354    0        1          163      1
..   ...  ...  ..  ...          ...  ...      ...          ...    ...
298   57    0   0  140          241    0        1          123      1
299   45    1   3  110          264    0        1          132      0
300   68    1   0  144          193    1        1          141      0
301   57    1   0  130          131    0        1          115      1
302   57    0   1  130          236    0        0          174      0

     oldpeak  slope  ca  thal  target
0        2.3      0   0     1       1
1        3.5      0   0     2       1
2        1.4      2   0     2       1
3        0.8      2   0     2       1
4        0.6      2   0     2       1
..       ...    ...  ..   ...     ...
298      0.2      1   0     3       0
299      1.2      1   0     3       0
300      3.4      1   2     3       0
301      1.2      1   1     3       0
302      0.0      1   1     2       0

[303 rows x 14 columns]

In [117]:
df.head()

,age,sex,cp,bp,cholosterol,fbs,restecg,thalalesmia,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [118]:
df.describe()

,age,sex,cp,bp,cholosterol,fbs,restecg,thalalesmia,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [119]:
df.tail()

,age,sex,cp,bp,cholosterol,fbs,restecg,thalalesmia,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [120]:
df.dtypes

age              int64
sex              int64
cp               int64
bp               int64
cholosterol      int64
fbs              int64
restecg          int64
thalalesmia      int64
exang            int64
oldpeak        float64
slope            int64
ca               int64
thal             int64
target           int64
dtype: object

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          303 non-null    int64
 1   sex          303 non-null    int64
 2   cp           303 non-null    int64
 3   bp           303 non-null    int64
 4   cholosterol  303 non-null    int64
 5   fbs          303 non-null    int64
 6   restecg      303 non-null    int64
 7   thalalesmia  303 non-null    int64
 8   exang        303 non-null    int64
 9   oldpeak      303 non-null    float64
 10  slope        303 non-null    int64
 11  ca           303 non-null    int64
 12  thal         303 non-null    int64
 13  target       303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [122]:
df.drop_duplicates()

,age,sex,cp,bp,cholosterol,fbs,restecg,thalalesmia,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [123]:
df.duplicated().sum()

1

In [124]:
df.drop_duplicates().sum()

age            16435.0
sex              206.0
cp               291.0
bp             39744.0
cholosterol    74443.0
fbs               45.0
restecg          159.0
thalalesmia    45170.0
exang             99.0
oldpeak          315.0
slope            422.0
ca               217.0
thal             699.0
target           164.0
dtype: float64

In [125]:
df.duplicated().sum()

1

In [126]:
df.isnull().sum()

age            0
sex            0
cp             0
bp             0
cholosterol    0
fbs            0
restecg        0
thalalesmia    0
exang          0
oldpeak        0
slope          0
ca             0
thal           0
target         0
dtype: int64

In [127]:
print(x_train.shape)
print(y_train.shape)

(242, 13)
(242,)

In [128]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
import sklearn
from sklearn.preprocessing  import LabelEncoder
encoder = LabelEncoder()
df['target']=encoder.fit_transform(df['target'])
print(df)

     age  sex  cp   bp  cholosterol  fbs  restecg  thalalesmia  exang  \
0     63    1   3  145          233    1        0          150      0
1     37    1   2  130          250    0        1          187      0
2     41    0   1  130          204    0        0          172      0
3     56    1   1  120          236    0        1          178      0
4     57    0   0  120          354    0        1          163      1
..   ...  ...  ..  ...          ...  ...      ...          ...    ...
298   57    0   0  140          241    0        1          123      1
299   45    1   3  110          264    0        1          132      0
300   68    1   0  144          193    1        1          141      0
301   57    1   0  130          131    0        1          115      1
302   57    0   1  130          236    0        0          174      0

     oldpeak  slope  ca  thal  target
0        2.3      0   0     1       1
1        3.5      0   0     2       1
2        1.4      2   0     2       1
3        0.8      2   0     2       1
4        0.6      2   0     2       1
..       ...    ...  ..   ...     ...
298      0.2      1   0     3       0
299      1.2      1   0     3       0
300      3.4      1   2     3       0
301      1.2      1   1     3       0
302      0.0      1   1     2       0

[303 rows x 14 columns]

In [129]:
print(x_train.shape)
print(y_train.shape)

(242, 13)
(242,)

In [130]:
print(len(x))
print(len(y))

303
303

In [131]:
df.isnull().sum()

age            0
sex            0
cp             0
bp             0
cholosterol    0
fbs            0
restecg        0
thalalesmia    0
exang          0
oldpeak        0
slope          0
ca             0
thal           0
target         0
dtype: int64

In [132]:
print(x_train.isnull().sum())  # Check for missing values in features
print(y_train.isnull().sum())  # Check for missing values in target
x_train = x_train.dropna()
y_train = y_train.dropna()

age            0
sex            0
cp             0
bp             0
cholosterol    0
fbs            0
restecg        0
thalalesmia    0
exang          0
oldpeak        0
slope          0
ca             0
thal           0
dtype: int64
0

In [158]:
from sklearn.model_selection  import train_test_split
x = df.drop(columns=['target'])
y =  df['target']
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size =0.2)
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
r = model.fit(x_train,y_train)
y_pred = (y_pred >= 0.5).astype(int)

y_pred = model.predict(x_test)
print(y_pred)
m = accuracy_score(y_test,y_pred)
print(m)

[1 0 0 0 0 0 1 1 0 0 1 0 1 1 1 1 1 1 1 1 0 0 1 0 0 1 1 1 1 1 0 1 1 1 0 0 1
 1 0 1 1 0 1 0 1 1 0 1 1 1 1 1 0 1 0 1 1 1 1 1 0]
0.819672131147541

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [134]:
from sklearn.metrics import mean_squared_error , accuracy_score,f1_score

In [135]:
f = accuracy_score(y_pred,y_test)
print(f)

0.8032786885245902

In [138]:
from sklearn.tree import DecisionTreeClassifier

In [156]:
f =  DecisionTreeClassifier()
f.fit(x_train,y_train)
y_pred = f.predict(x_test)
print(y_pred)
m = accuracy_score(y_test,y_pred)
print(m)

[0 0 0 0 1 0 1 0 0 1 1 1 1 1 1 1 1 0 0 0 1 0 1 1 0 0 0 1 0 1 0 0 0 1 1 0 0
 1 0 1 1 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0]
0.8032786885245902

In [155]:
from sklearn.ensemble import RandomForestClassifier
model= RandomForestClassifier()
model.fit(x_train,y_train)
y_pred =  model.predict(x_test)
print(y_pred)
n = accuracy_score(y_test,y_pred)
print(n)

[0 1 1 0 1 1 1 0 0 0 1 0 1 0 1 1 1 0 0 0 1 0 1 1 1 1 1 1 0 1 0 0 0 0 1 0 1
 1 1 1 1 1 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 1 0 0 0]
0.8524590163934426

In [157]:
from  sklearn.neighbors import KNeighborsClassifier
h = KNeighborsClassifier()
h.fit(x_train,y_train)
y_pred= h.predict(x_test)
m = accuracy_score(y_test,y_pred)
print(m)

0.6885245901639344

In [160]:
from sklearn.svm import SVC

In [162]:
h = SVC()
h.fit(x_train,y_train)
y_pred= h.predict(x_test)
m = accuracy_score(y_test,y_pred)
print(m)

0.6557377049180327